<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Syne:wght@700&family=Tilt+Prism&family=B612+Mono&display=swap">
  {{ $stylesheet := resources.Get "css/app.css" }}    
  <link rel="stylesheet" href="{{ $stylesheet.Permalink }}"> 
</head>
