@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{ 
    @apply scroll-smooth;
  }

  body {
    @apply font-sans;
    @apply bg-slate-50 text-teal-900;
    @apply dark:bg-slate-950 dark:text-teal-100;
  }

  h1 {
    @apply text-2xl md:text-3xl font-sans-alt;
  }

  h2 {
    @apply text-xl md:text-2xl font-sans-alt;
  }

  h3 {
    @apply text-lg md:text-xl font-sans-alt;
  }

  a:not([class]) {
    @apply text-teal-500 underline;
  }

  a {
    @apply focus:ring focus:ring-amber-300 focus:outline-none;
  }

  a,
  summary {
    @apply focus-visible:ring focus-visible:ring-amber-300 focus-visible:outline-none;
  }

  details:has(nav:empty) {
    display: none;
  }

  .prose > * + * {
    @apply mt-4;
  }

  .prose ul {
    @apply list-disc space-y-1 ml-8;
  }

  .prose ul li {
    @apply pl-2;
  }

  pre {
    @apply !bg-slate-800;
    @apply p-2;
    @apply ring ring-slate-500 dark:ring-slate-700 rounded;
  }

  p code {
    @apply bg-slate-200 text-teal-800;
    @apply dark:bg-slate-700 dark:text-teal-200;
    @apply px-px;
  }

  td:first-child pre {
    @apply pr-1;
  }

  td:last-child pre {
    @apply pl-1;
  }

  .footnotes {
    @apply mt-6;
  }

  .footnotes hr {
    @apply mb-4;
  }
}
